body {
  font-family: "Shippori Mincho", serif;
}
a {
  color: #885df1;
}
.weather-app {
  background: white;
  margin: 200px auto;
  border-radius: 16px;
  max-width: 600px;
  padding: 30px;
  box-shadow: #eeebf6;
  padding: 30px;
  header {
    padding-bottom: 30px;
    border-bottom: 1px solid #f9f7fe;
  }
}
.search-form-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px;
}
.search-form-button {
  background: #885df1;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}
.main-body-app {
  display: flex;
  justify-content: space-between;
}
.weather-app-details {
  color: rgba(0, 0, 0, 0.7);
}
.weather-app-details-value {
  color: #f65282;
  font-weight: bold;
}
.weather-app-values {
  display: flex;
  justify-content: space-between;
}
.weather-img-icon {
  width: 100px;
  height: 88px;
  margin-top: 25px;
}
.weather-app-temp {
  font-size: 80px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 88px;
}
.weather-app-unit {
  font-size: 28px;
  margin-top: 30px;
  margin-left: 5px;
}
footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
  border-top: 1px solid #f9f7fe;
}
